.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.mysmg{
    background: skyblue;
    color: gray;
}
.msgbox{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: skyblue;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;

}
.msgbutt{
    background: skyblue;
}