<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
     Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar class="images">
    <ion-img src="assets/imgs/ray.jpg"></ion-img>
  </ion-toolbar>

  <ion-toolbar class="profile">
    <p>Name: Raymund V. Opeña</p>
    <p>Address: Carigara Leyte</p>
    <p>Birthday: April 12, 1999</p>
    <p>Age: 21</p>
    <p>Gender: Male</p>
  </ion-toolbar>
</ion-content>
