.head1{
    text-align: center;
}
big{
    font-size: 40px;
    margin-left: 25px;
}
ion-card{
    margin-left: 100px;
    width: 40%;
    float: left;
}
ion-list{
    width: 40%;
    float: right;
    margin-right: 100px;
    margin-top: 9px;
}
ion-button{
    width: 80%;
    margin-bottom: 30px;

}
h2{
    margin-bottom: 10px;
}