<ion-header [translucent]="true">
  <ion-toolbar  class="head1">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <ion-toolbar>
     <ion-title size="large">Tab 3</ion-title>
   </ion-toolbar>
 </ion-header>
<ion-card>
  <img src="assets/icon/a.jpeg" alt="coudnt load image " width="90" height="80">
  <big>Instagram: D'Grimz</big>
</ion-card>
<ion-card>
  <img src="assets/icon/b.png" alt="coudnt load image" width="90" height="80">
  <big>Contact Number: +639275884364</big>
</ion-card>
<ion-card>
  <img src="assets/icon/c.jpeg" alt="coudnt load image" width="90" height="80">
  <big>Facebook: Raypen Virtudazo</big>
</ion-card>
<ion-card>
  <img src="assets/icon/d.png" alt="coudnt load image" width="90" height="80">
  <big>Gmail: lazyswiper@gmail.com</big>
</ion-card>

</ion-content>