.head1{
    --background: rgb(56, 15, 15);
    color: rgb(233, 229, 224);
    text-align: center;
}
big{
    font-size: 40px;
    margin-left: 25px;
}
ion-card{
    margin-left: 175px;
    width: 80%;
}
ion-card:hover{
    border: 1px solid burlywood;
    width: 85%;

}